* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Added this code to prevent background color from showing at bottom of webpage. It took very long to find a solution for this. But i made it happen. ^ ^*/
html,
body {
    background-color: #266c5c;
    background-attachment: fixed;
    height: 100%;
}

/* Website fades in when loaded */
#content {
    display: none;
    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
    background-image: url(BG.jpg);
    background-size: cover;
    background-position: center center;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* Test code for loading screen */

/* #loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
} */


/* Final code for the loading screen animation */
#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: cirlce_1 .5s alternate infinite ease;
}

@keyframes cirlce_1 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow_1 .5s alternate infinite ease;
}

@keyframes shadow_1 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

/* Actual CSS for the webpage contents starts here */
header {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
}

header div {
    padding: 1rem;
    text-transform: capitalize;
    text-align: center;
    color: #266c5c;
}

header div h1::first-letter {
    color: #862f26;

}

header div p {
    color: #862f26;
}

/* basic setup */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

section {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* code for navigation bar */

nav {
    position: absolute;
    width: 100%;
    z-index: 3;
}

nav ul {
    display: flex;
    flex-direction: row;
    background-color: rgba(105, 105, 105, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

nav li {
    flex: 1 1 auto;
    list-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: font-size 0.25s ease-in-out;

}

nav li:hover {
    color: #266c5c;
    font-size: 2rem;
    text-shadow: 0 0 5px white;
}

/* Code to remove default hyperlink color in web browsers */
a:-webkit-any-link {
    color: white;
}

/* #hero is the main center section on the webpage */
#hero {
    position: relative;
    border-radius: 0rem;
    text-align: center;
    margin-left: 0rem;
    margin-right: 0rem;
}

#hero img {
    width: 100%;
    height: 30rem;
    opacity: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1
}

#hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0.01em 0.01em 1em black;
    font-size: 5rem;
    z-index: 2;
    transition: opacity 0.25s ease-in-out;
}

#hero h1:hover {
    opacity: 0%;
}

/* Code for UI changes when screen is small */
@media (max-width: 960px) {
    #hero h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        transform: translate(-50%, -50%);
        opacity: 70%;
        color: white;
        text-shadow: 0.01em 0.01em 1em black;
        z-index: 2;
    }

    section {
        flex-direction: column;
        align-items: center;
    }
}

/* code for article (section 2) */
article {
    border-radius: 3rem;
    flex: 1 1 100%;
    padding: 2rem;
    margin: 0.5rem;
    width: 100%;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    transition: transform 0.25s ease-in-out;
}

article:hover {
    transform: scale(1.1);
    z-index: 3;
}

article li {
    margin-left: 1rem;
    list-style: disc;
}

article li:first-child {
    margin-top: 0.5rem;
}

article p::first-letter {
    color: #266c5c;
    font-size: x-large;
}

article h2::first-letter {
    color: #862f26;
    font-size: xx-large;

}

/* code for footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    padding: 2rem;
    text-align: center;
    color: white;
}

.logo {
    display: block;
    width: 3rem;
}